<div class="container">
  <div class="row mt-1">
    <div class="col-xs">
      <h1>
        {{ title }}
      </h1>
      <h4>
        {{ answer }}
      </h4>
    </div>
  </div>
  <style>
    .playlist-row{
      border-bottom:2px solid transparent;
    }
     .playlist-change{
      background-color: blue !important;
      font-size: 130%;
    }
  </style>
  <div class="row mt-1">
    <div class="col-xs">
      <table class="table table-striped">
        <thead>
          <tr>
            <th> # </th>
            <th> Nazwa </th>
            <th> Utworów </th>
            <th> Ulubiona </th>
          </tr>
        </thead>
        <tbody>
          <tr class="playlist-row" [ngClass]="{'playlist-change': selected == playlist}" 
          [ngStyle]="{ borderBottomColor:playlist.color }"
          (mouseenter)="selected = playlist" (mouseleave)="selected = false">
            <td> 1 </td>
            <td> {{ playlist.name }} </td>
            <td> 23 </td>
            <td>
              <label><input type="checkbox" [checked]="playlist.favourite" (change)="playlist.favourite = $event.target.checked"> 
              Ulubiona</label>
            </td>
          </tr>
          <tr [ngStyle] = "{color: playlist.color}" (mouseenter)="selected = true" (mouseleave)="selected = false" [ngClass]="{'playlist-decoration': selected == true}">
            <td> 2 </td>
            <td> Angular Greatest Hits</td>
            <td> 2 </td>
            <td> false </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Playlista</h4>
          <p class="card-text">Opis playlisty</p>
        </div>

        <div class="card-block">
          <div class="form-group">
            <label>Nazwa:</label>
            <input type="text" [value]="playlist.name" (keyup)="playlist.name = $event.target.value" class="form-control">
          </div>
          <div class="form-group">
            <label>Utwory:</label>
            <input type="text" [value]="playlist.tracks + ' utwory'" disabled class="form-control">
          </div>
          <div class="form-group">
            <label>Kolor:</label>
            <input type="color" [value]="playlist.color" (change)="playlist.color = $event.target.value">
          </div>
          <div class="form-group">
            <label><input type="checkbox" [checked]="playlist.favourite" (change)="playlist.favourite = $event.target.checked"> 
            Ulubiona</label>
          </div>
          <div class="form-group">
            <button class="btn btn-success float-xs-right" (click)="save($event)">Zapisz</button>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>